/* Ẩn Rating và Wishlist tại trang Home */
.rating {
    display: none;
}

.wishlist {
    display: none;
}

a.btn_full_outline.btn-add-wishlist {
    display: none;
}

/* Đổi size Fonts All */
body {
    font-size: 17px;
}

/* Bài viết liên quan */
.meta-related ul li a {
    line-height: 25px;
    font-size: 16px;
}

.tour_container .tour_title h3 {
    font-weight: 700;
    color: coral;
}

ul.list_ok li:before {
    padding-top: 5px;
}

ul.list_ok li {
    padding-top: 5px;
}

.hotel_container .hotel_title h3 {
    font-weight: 700;
}

.box_style_1 {
    color: #333;
}

li {
    margin: 10px 0px 10px 0px;
}

/* Nút gọi */
.hk-option-button-contact ul li a strong {
    display: none;
}

.hk-option-button-contact ul li {
    display: block;
}

.hk-option-button-contact {
    left: -25px;
    bottom: -10px;
}

/* CSS Cột bảng */
table {
    border-color: #ddd;
    border-spacing: 0;
    border-collapse: collapse;
    line-height: 1.5;
    width: 100%;
}

td {
    padding: 10px 10px;
    border-spacing: 0;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

p {
    margin: 15px;
    line-height: 1.5;
}

ul {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
}

.crp_related {
    font-size: 18px;
    color: #333;
}

.crp_related ul {
    margin: 20px 20px;
}

.dropdown,
.dropup {
    display: none;
}


/* ====================================================================================    Body    ==================================================================================== */
body {
    color: #565a5c;
    font-size: 19px;
    line-height: 20px;
    font-family: Questrial;
    font-weight: 400;
}

/* ===================================================================    Plain Header Background Color    ============================================================================ */
header.plain,
.no-header-image header {
    background-color: transparent;
}

/* ====================================================================    Sticky Header Background Color    ========================================================================== */
header.sticky {
    background-color: #ffffff;
}

/* ==============================================================================    Menu Font Style    =============================================================================== */
.main-menu>div>ul>li>a {
    font-size: 16px;
    line-height: 20px;
    font-family: Anton;
    font-weight: 400;
    color: #ffffff;
}

.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-menu-chinh-container{
    flex-grow: 1;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logout-menu-item {
    margin-left: auto;
}


.main-menu>div>ul>li:hover>a {
    color: #e04f67;
}

/* ===========================================================================    Menu Popup Font Style    ============================================================================ */
.main-menu ul ul li a {
    font-size: 14px;
    line-height: 20px;
    font-family: Anton;
    font-weight: 400;
}

/* ======================================================================    Menu Font Style in Sticky Header    ====================================================================== */
.sticky .main-menu>div>ul>li>a {
    font-size: 14px;
    line-height: 20px;
    font-family: Anton;
    font-weight: 400;
    color: #333333 !important;
}

.sticky .main-menu>div>ul>li:hover>a {
    color: #e04f67 !important;
}

/* ======================================================================    MEDIA QUERIES for MOBILE Menu    ====================================================================== */
@media only screen and (min-width: 992px) {
    .main-menu ul ul li a {
        color: #666666;
    }

    .main-menu ul ul li:hover>a {
        color: #e04f67;
    }
}

@media only screen and (max-width: 991px) {
    header:not(.sticky) .main-menu>div>ul>li>a {
        font-size: 14px;
        line-height: 20px;
        font-family: Anton;
        font-weight: 400;
    }

    .main-menu li,
    .main-menu a {
        color: #333333 !important;
    }

    .main-menu ul li a:hover,
    a.menu-item-has-children:hover,
    a.menu-item-has-children:focus,
    a.menu-item-has-children-mega:hover,
    a.menu-item-has-children-mega:focus {
        color: #e04f67 !important;
    }
}



img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}