.password-criteria{
    display: none;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

#user-criteria{
    display: none;
    /* transition: all 0.3s ease-in-out;
    margin-top: 10px; */
}

#email-criteria{
    display: none;
    /* transition: all 0.3s ease-in-out;
    margin-top: 10px; */
}

/* .form-input:focus + .password-criteria{
    display: block;
    opacity: 1;
    max-height: 200px;
}

.form-input:not(:focus) + .password-criteria{
    display: none;
    opacity: 0;
    max-height: 0;
} */

.input-error {
    border: 1px solid red;
}
