.post-content img {
	max-width: 100%;
	height: auto;
}

body {font-size:17px;}

.meta-related ul li a {
	line-height:25px;
	font-size: 16px;
}

.tour_container .tour_title h3{
	font-weight:700;
	color: coral;
}

ul.list_ok li:before {
	padding-top: 5px;
}

ul.list_ok li {
	padding-top: 5px;
}

.hotel_container .hotel_title h3{
	font-weight:700;
}

.box_style_1{
	color:#333;
}
li {
    margin: 10px 0px 10px 0px;
}
