<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/mdb/css/login.css">
    <title>Login</title>
</head>
<body>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <div class="container">
        <div class="bt-form-login-simple-1">
            <form class="form" autocomplete="off" method="post" action="/signin">
                <div class="form-group">
                    <label for="email">Username *</label>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Username"
                        class="form-input"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password *</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Password"
                        class="form-input"
                    />
                </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input
                        type="text"
                        name="email"
                        id="email"
                        placeholder="Email"
                        class="form-input"
                    />
                </div>
                <button type="submit" class="form-btn">
                    Sign in
                </button>
            </form>
        </div>
    </div>
</body>
</html>
